@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 767px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (max-width: 1024px) {
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("img/fundo4.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;      
}

#logo{
    width: 42%;
    height: 42%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* o card quebra p linha de baixo se diminuir o espaço da tela*/
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

#ordenar-pokemon{
    margin-right: 50px; /*distancia do campo para o outro pelo lado direito*/
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */   
    -moz-appearance: none; /* Remove estilo padrão do FireFox */   
    appearance: none; /* Remove estilo padrão do FireFox*/   
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeecec;  /* Imagem de fundo (Seta) */   
    background-position: 218px center;  /*Posição da imagem do background*/   
    width: 250px; /*Tamanho do select*/   
    height:30px; /*Altura do select, importante para ter a mesma altura em todos navegadores*/   
    text-align: left;
    font-size: 100%; 
    border-radius: 6px; /*arredondamento dos cantos*/ 
}

#ordenar-tipo{
    margin-right: 50px; 
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */   
    -moz-appearance: none; /* Remove estilo padrão do FireFox */   
    appearance: none; /* Remove estilo padrão do FireFox*/   
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeecec;  /* Imagem de fundo (Seta) */   
    background-position: 218px center;  /*Posição da imagem do background*/   
    width: 250px; /*Tamanho do select*/   
    height:30px; /*Altura do select, importante para ter a mesma altura em todos navegadores*/   
    text-align: left;
    font-size: 100%; 
    border-radius: 6px; /*arredondamento dos cantos*/ 
}


.calculo{ 
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}


.div-busca form input{
    width: 290px;
    font-size: 100%;
    padding: 7px;
    border-width: 0px;
    border-radius: 6px 0px 0px 6px; /*arredondamento dos cantos*/
}

.div-busca form button{
    margin-right: 50px;
    font-size: 100%;
    padding: 7px;
    border-width: 0px;
    border-radius: 0px 6px 6px 0px;
    margin-left: -4px;
    background-color: #c0e0fdfb;
    color: rgb(15, 1, 1);
}

.div-busca form button:hover{
    cursor: pointer;
}

.cards{
    width: 75vw;
    padding: 30px; /*espaçamento*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    justify-content: center; /*alinha ps pokemons no centro(pokemon pesquisado fica no meio)*/
    align-content: center;
}

.div-cards{
    width: 200vw;
    height: 200px;
    margin: 10px;
    justify-content: center;
    background-color: #d6e8fafb;
    border-color: rgb(255, 252, 252);
    border-style: groove;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgb(255, 255, 255); /*sombra Deslocamento horizontal, vertical, esfumaçado, cor*/ 
    flex: 0 1 13%;  
    align-content: center; 
}

.div-cards:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cards-imagens{    
    justify-content: center;
    align-items: center;    
} 

.cards-nomes{
    text-align: center; 
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.cards-tipos{
    text-align: center;
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
} 

.cards-numeros{
    text-align: center;
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
} 

.rodape{
    flex-direction: row;
    justify-content: center;
    text-align: center; 
    color: white;   
}

.rodape a:link{
    background-color: rgb(245, 196, 196);
    text-decoration: none;
}

.rodape a:hover {
    color:red;
}