@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url(tiny.css) (min-width:300px);
@import url(small.css) (min-width:600px);
@import url(big.css) (min-width:900px);

@media screen and (max-width: 300px) {
 /* estilos */
}
@media screen and (max-width: 600px) {
/* Estilos */
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("img/fundo4.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;      
}

img{
    max-width: 100%;
    height: auto;
}

#logo{
    width: 42%;
    height: 42%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar nav{
    display:flex;
    justify-content: left;
}
.sidebar{
    margin: 0px;
    padding: 0px;
    float: left; /*alinhou itens de busca no canto central*/
    list-style: none; 
    width: 15%;
    color: white;
} 

.sidebar h2{
    margin: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.sidebar ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar a:link{
    background: #c0e0fdfb;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    display: block;
}

.sidebar a:hover{
    background: #E5F0FF;
    color: rgb(5, 40, 110);
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%; /* 100% centraliza mais precisa subir e side bar já ocupa 15% */
}

#ordenar-pokemon{
    margin: auto;
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */   
    -moz-appearance: none; /* Remove estilo padrão do FireFox */   
    appearance: none; /* Remove estilo padrão do FireFox*/   
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeecec;  /* Imagem de fundo (Seta) */   
    background-position: 218px center;  /*Posição da imagem do background*/   
    width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */   
    height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */   
    border:1px solid rgb(219, 218, 218);;
    text-align: left;
  
}

#div-busca{
    border-radius:15px;
    width:250px;
    height: 20px;
    padding: 10px;
    text-align: center;
}
  
#txt-busca{
    width: 200px; /*Largura do campo*/
    height: 35px; /*Altura do campo*/
    float: right; /*Posição do campo*/
    margin-left: 30px;
    background-image: url('img/ic_search_white_24dp_1x.png'); /*diretório e imagem do icone*/
    background-position: left;  /*posição do icone*/
    background-repeat: no-repeat; /*Não repetir o icone <- COLOCA ISSO PELO AMOR DE ODIN*/
    background-color: #fff; /*Cor do fundo do campo*/
    border: 2px solid #000; /*Cor da borda do campo*/
    border-radius: 4px; /*Curvatura da borda nas "quinas"*/
    text-indent: 25px; /*Um espaçamento para n atrapalhar a img*/

    /* float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px; */
}


.cards{
    width: 70vw;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    justify-content: center;
    align-content: center;
}

.div-cards{
    margin: 10px;
    justify-content: center;
    background-color: #d6e8fafb;
    border-color: rgb(255, 252, 252);
    border-style: groove;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgb(255, 255, 255); /*sombra Deslocamento horizontal, vertical, esfumaçado, cor*/ 
    flex: 0 1 13%;  
    align-content: center; 
}

.div-cards:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cards-imagens{    
    justify-content: center;
    align-items: center;
} 

.cards-nomes{
    text-align: center; 
    font-family: 'Source Sans Pro', sans-serif;
}

.cards-tipos{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
} 

.rodape{
    text-align: center;
    position: fixed;
    flex-direction: row;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 100%;
    font-weight: bolder;
}